/* Forum.css */

#css_container {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 20px;
    gap: 30px;
    box-sizing: border-box;
    width: 100%;
    align-items: flex-start; /* Asegura que los elementos estén alineados arriba */
    overflow-x: auto; /* Permite que el contenido no se desborde */
}


#nouveau_msg {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    min-width: 260px;
    margin-left: 30px;
    background-color: var(--background-color);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
    flex-shrink: 0;
}


#title_input,
#message_input {
    width: 100%;
    resize: none;
    padding: 10px;
    font-size: 18px;
    border: 1px solid var(--details);
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 5px;
}

#add_message {
    width: 100%;
    padding: 12px 20px;
    font-size: 18px;
    font-weight: bold;
    color: var(--clair-text);
    background-color: var(--secondary-color);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px var(--shadows);
    transition: all 0.3s ease;
    text-shadow: 1px 1px 2px var(--shadows);
}

#add_message:hover {
    background-color: var(--primary-color);
}