/* Título del mensaje */
.message-title {
    font-weight: bold;
    font-size: 22px;
    color: var(--title-msg);
}

/* Contenido principal */
.message-content {
    font-size: 18px;
    color: var(--content-msg);
    margin: 5px 0;
}

/* Metadatos */
.message-date,
.message-owner {
    font-size: 14px;
    color: var(--minor-content-msg);
}

.response-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
    font-weight: bold;
}


/* Contenedor de respuestas */
.replies {
    margin-top: 10px;
    padding-left: 20px;
    border-left: 2px dashed var(--details);
}

/* Cada respuesta */
.reply {
    background-color: var(--reply-background);
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    font-size: 15px;
}

.reply-info {
    font-size: 13px;
    color: var(--minor-content-msg);
}

.no-replies {
    font-style: italic;
    color: var(--no-replies);
    font-size: 14px;
}

.reply-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 12px;
}

.reply-form input {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid var(--details);
  background-color: var(--form-background);
  color: var(--title-msg);
  font-size: 16px;
  outline: none;
}

.reply-toggle-btn {
  margin-top: 20px;  /* ← aquí defines el espacio */
  font-weight: bold;
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
  transition: color 0.2s ease;
}

.reply-toggle-btn:hover {
  color: var(--primary-color);
}


.reply-form-buttons {
  display: flex;
  gap: 10px;
}

.send-btn {
  background-color: var(--secondary-color);
  color: var(--clair-text);
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.cancel-btn {
  background-color: transparent;
  border: 1px solid var(--minor-content-msg);
  color: var(--minor-content-msg);
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}


