html, body {
    height: 100%;  /* Asegura que el body y html ocupen el 100% de la altura de la ventana */
    margin: 0;     /* Elimina los márgenes por defecto */
    
}

/****** HEADER AVEC SES CHAMPS ******/
header {
    background-color: var(--primary-color);  
    height: 20%;
    display:flex;
    margin-left: 35px;
    flex-direction: row
}

/*Logo*/
#logo {
    background-color: #056676;  
    align-self: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-left: 10%;
    border-radius: 100%;
}

/* Contenedor de búsqueda */
#search {
    display: flex;
    flex-direction: column;  
    align-items: center;  
    justify-content: center;  
    margin-left: 5%;
    margin-right: 5%;
    width: 60%;
    height: 100%;
}

#search label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;  /* Hace que la etiqueta ocupe toda la línea */
    margin-bottom: 20px;  /* Añade espacio entre la etiqueta y el input */
    text-align: center;  
    font-size: 40px; 
    color: #E0F7F1;
    margin-top: 20px;
    text-shadow: 2px 2px 0px #068a9f; 
}

.chps_recherche {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}

#search input {
    width: 50%;  
    padding: 10px;  
    box-sizing: border-box; 
    border: 2px solid #ccc;  
    border-radius: 5px;  
    font-size: 30px;  
}


/*Links*/

#connect {
    display: flex;                               /* Usamos Flexbox para disposición */
    flex-direction: column;                      /* Coloca los enlaces en una columna */
    font-size: 38px;                             /* Tamaño de fuente más grande */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Fuente personalizada */
    text-align: center;                          /* Centra el texto de los enlaces */
    margin-top: 30px;                            /* Espacio superior */
    margin-right: 30px;                          /* Espacio derecho */
}


/****** MAIN AVEC SES CHAMPS ******/
main {
    display: flex;  /* Establece Flexbox para organizar los elementos en una fila */
    margin-left: 35px;
    height: 100%;
}

/*
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}


.logout-container {
    margin-top: auto;   
    display: flex;
    justify-content: center;
    width: 100%;
}

.sidebar button {
    max-width: 150px;
    width: 100%;
    font-size: 30px;
} */