
.page-layout {
    display: flex;
    gap: 24px;
    min-height: 100vh;
}

.main-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 96px;
    padding-right: 24px;
}

/****** HEADER AVEC SES CHAMPS ******/
header {
    background-color: var(--background-color);  
    height: 20%;
    display:flex;
    flex-direction: row
}

/*Logo*/
#logo {
    background-color: var(--background-color);  
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;         /* Cambia segun necesites */
    height: 250px;      /* O un valor fijo */
}


img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-left: 10%;
    border-radius: 100%;
}


/****** MAIN AVEC SES CHAMPS ******/
main {
    display: flex;  /* Establece Flexbox para organizar los elementos en una fila */
    height: 100%;
}
