/* Reply.css */

.reply {
    background-color: var(--reply-background);
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    font-size: 15px;
}

.reply-info {
    font-size: 13px;
    color: var(--minor-content-msg);
}

.delete-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
    font-weight: bold;
    transition: color 0.2s ease;
}

.delete-btn:hover {
    color: white;
}

